.map-page {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    background: #E2EFDE;
}

.map-page-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    padding: 3%;
}

.map-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    background: #E2EFDE;
}

.leaflet-container {
    height: 70%;
    width: 100%;
    border: 2px black solid;
    border-radius: 10px;
}

.map-form-container {
    display: flex;
    position: relative;
    width: 40%;
    margin: 3% 3% 3% 0;
}


/*Togglers*/
.map-togglers-container {
    display: flex;
    position: relative;
    height: 30%;
}


.map-togglers {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    background: #E2EFDE;
    display: flex;
    flex-direction: column;
}

.map-togglers-list-container {
    display: flex;

}

.map-togglers-header {

}
